html {
  margin: 0;
}
.navi{
 text-align: center;
 padding: 10px;
 display: flex;
 justify-content: center;
 background: rgb(227, 221, 221);
 margin-top: 100px;
 border-radius: 10px;

}
.navi a{
  margin: 2px;
  border: 1px solid black;
  padding: 10px 20px;
  text-decoration: none;
  border-radius:5px ;
}

span {
  display: block;
}
.canvas {
  margin: 100px auto 100px;
  width: 50%;
  text-align: center;
}

.button {
  width: 100px;
  height: 100px;
  border: solid black 2px;
  display: inline-block;
}

#grey {
  background: grey;
}

#white {
  background: white;
}
#blue {
  background: blue;
}
#yellow {
  background: yellow;
}
